* { 
    margin: 5px;
    padding: 10px;
}
 .top{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
  
}
.top h2 {
    color: blue;
}
main section {
font-size: 40px;
color:black;
text-align: center;
}
main section p {
    font-size: 20;   
}
main section button {
    background-color: blueviolet;
    color:aliceblue
}
